@font-face {
    font-family: BungeeSpice-Regular;
    src: url("BungeeSpice-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.mainheader {
    font-family: BungeeSpice-Regular, serif;
    font-size: 50px;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.menu {
    max-width: max-content;
    margin-inline: auto;
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0.5em;
    border: 2px solid;
}

li a {
    max-width: 100%;
    padding: 20px 50px;
    display: block;

    font-size: large;
    text-decoration: none;
    color: black;
}

#name-form {
    display: flex;
    flex-direction: column;
}

.background-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

nav {
    background-color: linen;
    padding: 1rem;
}