body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

#header-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #dddddd;
    padding: 0;
    margin: 0;
}

#header-ul li {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 3rem;
}

#map {
    height: 500px;
}

footer {
    background-color: #dddddd;
    height: 3rem;
    width: 100%;
}