@font-face {
    font-family: BungeeSpice-Regular;
    src: url("BungeeSpice-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.mainheader {
    font-family: BungeeSpice-Regular, serif;
    font-size: 50px;
    color: orange;

    text-shadow:
        -2px -2px 0 black,
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black,

        0 0 2px black,
        0 0 3px black,
        0 0 4px black;
}

.mainheader:hover {
    cursor: default;
}

body {
    margin: 0;
    font-family: BungeeSpice-Regular, sans-serif;
}

.menu {
    max-width: max-content;
    margin-inline: auto;
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0.5em;
    border: 2px solid;
}

li a {
    max-width: 100%;
    padding: 20px 50px;
    display: block;

    font-size: large;
    text-decoration: none;
    color: black;
    cursor: pointer;

    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black,

        0 0 1px black,
        0 0 2px black,
        0 0 3px black;

}

li a:hover {
    background-color: navajowhite;
}

#name-form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 1rem;
    width: 16rem;
    margin: auto;

    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black,

        0 0 1px black,
        0 0 2px black,
        0 0 3px black;
}

#new-player {
    background-color: blanchedalmond;
}
#submit {
    font-size: 20px;
    background-color: blanchedalmond;
    width: 10rem;
    height: 3rem;
    margin: 1rem auto;
    cursor: pointer;

    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black,

        0 0 1px black,
        0 0 2px black,
        0 0 3px black;
}

#submit:hover {
    background-color: mediumseagreen;
}

.background-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.mainnav {
    background-color: blanchedalmond;
    padding: 1rem;
    outline: black solid 2px;
}

#new-player {
    height: 1.5rem;
}

#label {
    font-size: 20px;
}